.eachData {
    width: calc(50% - 8px);
}

;

.personalData__fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    border: none;

}

;

.register_button {
    width: 100%;
    text-align: center;
}

;