.adress {
    margin: 0 auto;
    max-width: 400px;
    padding: 12px;
    margin-bottom: 80px;
}

.contact {
    max-width: 450px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.contact__title {
    text-align: center;
}

.contact__fieldset {
    text-align: center;
    border-style: none;
}