@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --first-color: #123456;
  --input-color: #80868b;
  --border-color: #dadce0;
  --body-font: 'Roboto', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

.form__div {
  position: relative;
  height: 48px;
  margin-bottom: 1.5rem;
}

.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--normal-font-size);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}
.form__label {
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 0.25rem;
  background-color: #fff;
  color: var(--input-color);
  font-size: var(--normal-font-size);
  transition: 0.3s;
}
.form__input:focus + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}
.form__notEmpty {
  top: -0.5rem;
  left: 0.8rem;
  color: var(--first-color);
  background-color: #fff;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}
.form__input:not(:placeholder-shown) .form__input:not(:focus) + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}
.form__input:focus {
  border: 1.5px solid var(--first-color);
}
